  <div class="col-12 bg-primary ">
    <% @live_organization_participants.each do |live_organization_participant| %>
    <div class="row">
    <div class="col-2">
      <%= attachment_image_tag live_organization_participant.band.user, :profile_image, size: "50x50", fallback: "no_image.png", size: "50x50", class:"rounded-circle" %>
    </div>
    <div class="col-10">
      <table>
        <tbody>
          <tr>
            <td>バンド名</td>
            <td>：<%= live_organization_participant.band.band_name%></td>
          </tr>
          <tr>
            <td>メンバー</td>
            <td>
            ：<% live_organization_participant.band.members.each do |member| %>
             <%= member.name%>
             <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
    <% end %>
  </div>
