<h1>Public::LiveOrganizations#index</h1>
<p>Find me in app/views/public/live_organizations/index.html.erb</p>

<% @live_organizations.each do |live_organization| %>
<%= live_organization.band.band_name%>
<%= live_organization.live.live_name%>
<%= live_organization.live.introduction%>
<% end %>

<%= link_to "new Live",new_live_organization_path %>