/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 @import "fullcalendar.min";

/*リセットCSS*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: #F8F8FF;
}


h1,
h2,
p{
  margin: 0;
}

h1,
h2,
p{
  padding: 0;
}

/* header */
header {
  width: 100%;
  padding: 0px 4%;
  background: black; 
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  
} 

header h1 a {
  font-size: 32px;
  line-height: 64px;
  color: yellow;
  text-decoration: none;
}

/*navbar*/
.pc-menu nav {
  margin: 0 0 0 auto;
}


.pc-menu nav ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.pc-menu nav ul li {
  margin: 0 10px;
}

.pc-menu nav ul li a,span {
  display: block;
  width: 80px;
  text-decoration: none;
  color: white;
  text-align: center;
  line-height: 64px;
}

.pc-menu nav li:hover {
  background-color: #f2f2f2;
}

.dropdown-child {
}

.dropdown-child > dropdown_menu {
  left: 0px;
  top: 64px;
  display: none;
  position: absolute;
}

.sp-menu {
  margin-left: auto;
}

.sp-menu #open {
  font-size: 32px;
  line-height: 64px;
  cursor: pointer;
}

.sp-menu #open.hide {
  display: none;
}

.overlay {
  color: black;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255,255,255,0.95);
  text-align: center;
  padding: 64px;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
}

.overlay.show {
  opacity: 0.8;
  pointer-events: auto;
}

.overlay #close {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 32px;
  cursor: pointer;
  color: black;
}

.overlay ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.overlay li {
  margin-top : 24px;
  opacity: 0;
  transform: translateY(16px);
  transition: opacity .3s, transform .3s;
}

.overlay.show li {
  opacity: 1;
  transform: none;
}

.overlay.show.li:nth-child(1) {
  transition-delay: .1s;
}
.overlay.show.li:nth-child(2) {
  transition-delay: .2s;
}

.pc-menu {
  display: none;
}

@media (min-width: 600px) {
  .pc-menu {
    display: block;
    margin-left: auto;
  }
  .sp-menu {
    display: none;
  }
}

/*slider*/
.container{
  position: relative;
  width: 1100px;
  height: 400px;
  margin: 100px auto 0;
}

.sliderbox{
  // border: 2px solid;
  overflow: hidden;
}

.sliderlist{
    display: flex;
    list-style: none;
}

.sliderlist__item{
    flex-shrink: 0;
    width: 1100px;
    height: 400px;
}

.sliderlist__item1{
    background-color: rgb(245, 245, 245);
}

.sliderlist__item2{
    background-color: rgb(225, 225, 225);
}

.sliderlist__item3{
    background-color: rgb(205, 205, 205);
}

/* 矢印 */
.prev{
    position: absolute;
    top: 50%;
    left: -5%;
    display: none;
    width: 30px;
    height: 30px;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    cursor: pointer;
    transform: translateY(-50%) rotate(45deg);
}

.next{
    position: absolute;
    top: 50%;
    right: -5%;
    width: 30px;
    height: 30px;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    cursor: pointer;
    transform: translateY(-50%) rotate(-45deg);
}


/* modal login */

.modalopen{
  cursor: pointer;
}

#shut{
  color: black;
  cursor: pointer;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  padding: 12px 0;
  margin: 16px auto;
}

#mask {
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#modal {
  color: black;
  z-index: 2;
  background: #fff;
  width: 300px;
  padding: 20px;
  border-radius: 4px;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: transform 0.4s;
}

#modal > p {
  margin: 0 0 20px;
}

#mask.hidden{
  display: none;
}

#modal.hidden{
  transform: translate(0, -600px);
}

.live_info_image{
  display: flex;
  
}


// /* registration */
// #registrations {
//   background-image: image-url("live1.jpg");
//   background-position: center;
//   background-size: cover;
//   background-color: transparent;
//   background-repeat: no-repeat;
//   background-color: #050911;

//   #registrations-new {
//     width: 100%;
//     height: 100%;
//     .left-content {
//       margin-top: 45px;
//       padding: 0px 45px;
//       color: #fff;
//       h1 {
//         font-size: 50px;
//         margin: 0px;
//         margin-top: 10px;
//       }
//       .ex {
//         font-size: 18px;
//         margin: 45px 0px;
//       }
//     }
//     .right-content {
//       padding: 0px 30px;
//       form {
//         margin: 45px 0px;
//         padding: 30px 35px;
//         border: 1px solid #fff;
//         border-radius: 6px;
//         background-color: rgba(0, 0, 0, 0.3);
//         color: #fff;
//       }
//       h2 {
//         margin: 0px 0px 20px 0px;
//         border-bottom: 1px solid rgba(255, 255, 255, 0.5);
//         padding-bottom: 10px;
//         font-size: 20px;
//       }
//       .control-label {
//         font-weight: 400;
//       }
//       .btn {
//         width: 100%;
//         padding: 12px;
//         margin-top: 10px;
//         margin-bottom: 10px;
//         font-size: 16px;
//       }
//       .login {
//         color: #fff;
//         text-decoration: underline;
//       }
//     }
//   }
// }

// #registrations::before{
// background-color:rgba(0,0,0,0.5);
// position:absolute;
// top:0;
// right:0;
// left:0;
// content:' ';
// }


// /* universal */


// .modal-content {
//   color: black;
// }
// }

// section {
//   overflow: auto;
// }

// textarea {
//   resize: vertical;
// }

// .center {
//   text-align: center;
//   h1 {
//     margin-bottom: 10px;
//   }
// }

// /* header */

// #logo {
//   float: left;
//   margin-right: 10px;
//   font-size: 1.7em;
//   color: #F8F8FF;
//   text-transform: uppercase;
//   letter-spacing: -1px;
//   padding-top: 9px;
//   font-weight: bold;
//   &:hover {
//     color: #F8F8FF;
//     text-decoration: none;
//   }
// }


// /* body */
// .live_image_top{
//   height: 350px;
// }
// .live1 {
//   background-image: image-url("live1.jpg");
//   background-position:center bottom;
// }
// .live2 {
//   background-image: image-url("live2.jpg");
//   background-position:center top;
// }
// .live3 {
//   background-image: image-url("live3.jpg");
// }
// .live4 {
//   background-image: image-url("live4.jpg");
// }

// /*.recent-live {
//   width: 300px;
//   height: 200px;
//   background-color:red;
//   text-align: center;
// } */


// /* footer */

// footer {
//   margin-top: 45px;
//   padding-top: 5px;
//   border-top: 1px solid #eaeaea;
//   color: gray;
//   a {
//     color: #555;
//     &:hover {
//       color: #222;
//     }
//   }
//   small {
//     float: left;
//   }
//   ul {
//     float: right;
//     list-style: none;
//     li {
//       float: left;
//       margin-left: 15px;
//     }
//   }
// }

// /* article post*/

// aside {
//   section.band_info {
//     margin-top: 20px;
//   }

//   section {
//     padding: 10px;
//     margin-top:20px;
//     &:first-child {
//     border: 0;
//     padding-top: 0;
//   }
//   span {
//     display: block;
//     margin-bottom: 3px;
//     line-height:1;
//   }
//   h1 {
//     font-size: 1.4em;
//     text-align: left;
//     letter-spacing: -1px;
//     margin-bottom: 3px;
//     margin-top: 0px;
//     }
//   }
// }

// /*bands*/
// .bands-content {
//   padding: 0px 45px;
//   z-index: 1000;
//     margin: 45px 0px;
//     padding: 30px 35px;
//     border: 1px solid #fff;
//     border-radius: 6px;
//     background-color: rgba(0, 0, 0, 0.3);
//     color: #fff;
//   h2 {
//     margin: 0px 0px 20px 0px;
//     border-bottom: 1px solid rgba(255, 255, 255, 0.5);
//     padding-bottom: 10px;
//     font-size: 20px;
//   }
//   .control-label {
//     font-weight: 400;
//   }
//   .btn {
//     width: 100%;
//     padding: 12px;
//     margin-top: 10px;
//     margin-bottom: 10px;
//     font-size: 16px;
//   }

// }

// /*card*/
// .card-link {
//   text-decoration: none;
// }

// .card-list {
//   color: black;
// }

// /*table-font-sizi*/
// .table-font-size {
//   font-size: 10px;
// }