<div class="row">
  <table class="table table-striped">
   <thead class="thead-dark">
    <tr>
     <th>User ID</th>
     <th>User name</th>
     <th>Band</th>
     <th></th>
     <th>status</th>
    </tr>
   </thead>
   <thody>
    <% @users.each do |user| %>
     <tr>
      <td><%= user.id %></td>
      <td><%= link_to user.user_name, admin_user_path(user) %></td>
      <td><%= user.band.band_name %></td>
      <td></td>
      <td></td>
    </tr>
    <% end %>
   </thody>
  </table>
  </div>
