  <div class="modal fade" id="user-modal"></div>

  <div class="row mb-4">
    <%= render 'public/users/user_header', user: @user,band: @band %>
  </div>

  <div class="row">
    <div class="col-3">
      <%= render 'public/users/article_content', band: @band,article: @article %>
    </div>

    <div class="col-sm-6">
      <% if @notifications.present? %>
        <%= render @notifications %>
      <% else %>
        通知はありません
      <% end %>
    </div>

    <div class="col-3">
      <%= render 'public/lives/live_info', gather_bands: @gather_bands %>
    </div>
  </div>
</div>
